.HomeButton {
  position: absolute;
  left: 100px;
}

input {
  width: 30%;
  padding: 12px 10px;
  margin: 3px auto 3px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.FirstName, .LastName {
  margin-right: 350px;
}

.Email {
  margin-right: 385px;
}

.Password {
  margin-right: 355px;
}
