.SignInButton {
  position: absolute;
  right: 100px;
}

.CartButton {
  position: absolute;
  right: 270px;
}

.Gaming {
  position: relative;
  right: 600px;
}

.GamingPCs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 35%);
    justify-content: center;
    margin-bottom: -25px;
}

.Build1, .Build2, .Build3 {
  background-color: white;
  border-radius: 25px;
  padding: 5px 0px 10px 0px;
}

.BuildImage {
  width: 30%;
}

.Divider{
    width: 50px;
    height:auto;
    display:inline-block;
}

.Business {
  position: relative;
  right: 600px;
  top: 30px;
}

.Customize {
  position: relative;
  top: 15px;
}

.CustomizeButton {
  position: relative;
  bottom: 15px;
}
